<template>
    <section class="bg-gray-100 min-h-screen pb-5">
        <div v-for="user in userData" :key="user.id">
            <User :name="user.userName" :lastVisited="user.lastVisited" :lastUpdated="user.lastUpdated" :expiryDate="user.expiryDate"/>
        </div>
        <Pagination @nextPage="nextPage" @previousPage="previousPage" @lastPage="lastPage" :loading="loading"/>
    </section>
</template>
<script>
import axios from 'axios'
export default{
    mounted(){
        axios.get(`http://marvelous.alacrity.technology/api/example-api?paginate=${this.currentPage}`).then(response=>{
            this.userData=response.data.data.data
        })
    },
    data(){
        return{
            userData:'',
            currentPage:10,
            loading:'opacity-0'
        }
    },
    methods:{
        callBackPage(){
            this.loading="opacity-1"
            axios.get(`http://marvelous.alacrity.technology/api/example-api?paginate=${this.currentPage}`).then(response=>{
                this.userData=response.data.data.data
                this.loading="opacity-0"
            })
        },
        nextPage(){
            if(this.currentPage<20){
                this.currentPage=this.currentPage+1
                this.callBackPage()
            }  
        },
        previousPage(){
            if(this.currentPage>1){
                this.currentPage=this.currentPage-1
                this.callBackPage()
            }
        },
        lastPage(){
            this.currentPage=20
            this.callBackPage()
        }
    }
}
</script>