<template>
    <div class="flex justify-between items-center mx-4 mt-5">
        <Loading :class="loading"/>
        <div class="flex items-center">
            <div class="bg-white p-1 rounded-md shadow cursor-pointer" @click="previousPage">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#36495D">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </div>
            <div class="bg-white p-1 rounded-md shadow ml-2 cursor-pointer" @click="nextPage">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#36495D">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </div>
            <div class="bg-white py-1 px-2 font-semibold rounded-md shadow text-gray-500 ml-2 cursor-pointer" @click="lastPage">
                <span>Last</span>
            </div>
        </div>
        
    </div>
</template>

<script>
export default{
    props:['loading'],
    methods:{
        nextPage(){
            this.$emit('nextPage')
        },
        previousPage(){
            this.$emit('previousPage')
        },
        lastPage(){
            this.$emit('lastPage')
        }
    }
}
</script>